body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: black;
  background-color: #ccc;
  min-height: 100%;
}

#content {
  height: 100%;
  max-width: 800px;
  background-color: white;
  margin: auto;
  border: 15px inset #666;
  padding: 10px;
}

h1, h2 {
  text-align: center;
}

h2, h3, h4 {
  padding-top: 20px;
}

textarea {
  width: 100%;
  height: 10em;
}

label {
  display: block;
}
