{% extends 'layout.html' %}

{% block content %}
  {% if nickname %}
    <p>
      Hello, {{ nickname }}
      {% if is_admin %}
        • <a href="/new-post">New Post</a>
      {% endif %}
      • <a href="{{ auth_url }}">Sign Out</a>
    </p>
  {% else %}
    <p><a href="{{ auth_url }}">Sign In with a Google Account</a></p>
  {% endif %}
  {% if posts %}
    {% for post in posts %}
      <h2><a href="/view-post?id={{ post.key.urlsafe() }}">{{ post.title }}</a></h2>
      <p>{{ post.content }}</p>
    {% endfor %}
  {% else %}
    <p>There are no posts yet.</p>
  {% endif %}
{% endblock %}
