<html>
<head>
  <title>Blogasaurus Post</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <h1>Compose a new blog post.</h1>
  <section>
    <!-- Form with POST method -->
    <form method="post">
      <div>
        <!-- Input for "title" -->
        <label for="title">Title</label>
        <input type="text" name="title">
      </div>
      <div>
        <!-- Input for "content" -->
        <label for="content">Content</label>
        <input type="text" name="content">
      </div>
      <!-- Submit button -->
      <button type="submit">Submit</button>
    </form>
  </section>
  <script src="/static/js/index.js"></script>
</body>
</html>
