<html>
<head>
  <title>Blogasaurus Post</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <h1>All of {{ nickname }}'s blog posts</h1>
  <a href="/">Home</a>
  <a href="/posts">New Post</a>
  <section>
    {% for blog_post in blog_posts %}
      <div class="blog-post">
        <h2>{{blog_post.title}}</h2>
        <h4>by {{ nickname }}</h4>
        <p>{{blog_post.content}}</p>
      </div>
    {% endfor %}
  </section>
  <script src="/static/js/index.js"></script>
</body>
</html>
